/* css styling for photo gallery project */ 

*{
  background-color:black;
  box-sizing: border-box;
}

.search-bar {
    display: flex;
    justify-content:center;
    margin-bottom: 4rem;
 }

input#search {
    padding: 1rem;
    width: 40%;
    background-color: white;
 }

::placeholder {
    color: black;
 }

div.gallery {
    background-color: black;
    margin-left: 2.0%;
}

main {
    margin: 5%;   
}

.gallery {
    display:grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: .75rem;
}